@import "styles/variables";
@import 'styles/buttonStyles';

.header {
    align-items: center;
    display: flex;
    padding: 2em;
    font-family: $fonte;
    justify-content: center;
    .button {
        position: fixed;
        right: 0;
        top:0;
        margin: 2em;
    }
}