@import "styles/variables";

.card {
    align-items: center;
    width: fit-content;
    margin: 1em;
    position: relative;
    .poster{
        transition: all 0.1s linear;
        width: 230px;
        height: 340px;
    }
    .info {
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        color: $branco;
        font-size: 12px;
        .name {
            font-size: 2em;
        }
    }
}

.card:hover{
    .info {
        display: block;
    }
    .poster{
        transition: 100ms linear;
        scale: 1.1;
    }
}