@import "styles/variables";
@import "styles/buttonStyles";
@import "styles/defaultStyles";

.container_sortear {
    align-items: center;
    margin: auto;
    max-width: 900px;
    text-align: center;
    h1 {
        color: $branco;
        font-size: 3em;
        margin: 1em 0;
    }
    .button {
        border-radius: 0px;
        font-size: 1.5em;
        padding: 18px 3em;
    }
}
