@import 'styles/variables';

.container {
    text-align: center;
    justify-content: center;
    align-items: center;
    img {
        width: 400px;
    }
    h1 {
        margin: 2em;
        color: $branco;
        font-size: 3em;
        font-family: $fonte;
    }
}